@model AssoFlex.Models.Evenement

@{
    Layout = "_Layout";
}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acheter votre billet</title>



</head>
<body>




</body>
</html>