@model AssoFlex.ViewModels.LayoutModelView
@* @model AssoFlex.Models.IWidgetEvent *@

@{
    ViewBag.Title = "Widgets";
    Layout = "_Layout";
}

<h2 class="page-section-heading text-center mb-0">Nos Evenements</h2>
<div class="container-fluid padding">
     <div class="row padding">
         @{
             @Html.Partial("Widget/_WidgetContainerEvent");
        }
    </div>
</div>

@if (User.IsInRole("Admin-Asso"))
{
    <br/>
    <a href=@Url.Action("CreerEvent","Evenement")>Créer un évènement</a>
}
@if (User.Identity.IsAuthenticated.Equals(false))
{
    <a>Connectez-vous pour accéder à plus de services ! </a>
}