@model ServiceBilletterie.Models.Evenements

@{
    Layout = "_LayoutTest";
}

<!DOCTYPE html>

<html>
<head>
    <title>Modifier un évènement</title>
</head>
<body>
<div>
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q">
    
    <button>Search</button>
</div>

</body>
</html>