@model System.Collections.Generic.List<ServiceBilletterie.Models.Evenements>

@{
    Layout = "_LayoutTest";
}

<!DOCTYPE html>

<html>
<head>
    <title>AssoFlex - Rerchercher un évènement</title>
</head>
<body>
<div>

</div>
</body>
</html>