
@{
        Layout = "_Layout";
}
<!--- Présentation de ASSOFLEX-->

@*<div class="row "style="height: 100px"></div>*@
<div class="container-fluid  text-center" style="padding-top: 7%;align-self: center">
	<a style="font-size: 300%">Support de présentation, soutenance Isika</a>
	
		
		<div class="col-auto" style="align-items: center">
			<iframe class="align-self-center" src="https://prezi.com/p/6ubf9akh5fsu/embed" id="iframe_container" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay;fullscreen" height="563" width="1000"></iframe>
		</div>
		
	
</div>
 <div id="description-association" class="text-justify" style=" font-size:150%;padding: 7%">  @*background-color:rgba(0,0,255,0.1);*@
	 <a> Qui sommes-nous ?</a>
	 <p class="description-assoflex" style="text-indent: 5%;">
		 ASSOFLEX est une plateforme nationale mise sur pied, en 2022, pour accompagner le développement des organisations et des projets qu’elles portent. Le réseau porté par ASSOFLEX est le plus largement ouvert et a vocation à rassembler un grand nombre d’organisations qui laisse une place centrale à l’humain.
		 Cette plateforme a été conçue pour fournir aux associations et à leurs adhérents des services leur permettant d’avoir une fluidité dans la transmission des informations. Qu’il s’agit de la gestion de leur adhésion aux associations, de l’achat de billet pour des événements spécifiques ou encore de la participation à des projets portés par ces associations.
		 Tous ces services ne sont portés que sur les valeurs que nous partageons avec nos associations collaboratrices, à savoir une prise de conscience importante envers l’écologie, un respect, une lutte contre les discriminations (sexisme, racisme, homophobie et toute autre forme de discrimination) et une prise de conscience envers les difficultés des personnes en situation de handicap.
	 </p>
	En tant que réseau, ASSOFLEX s’inscrit dans une pluralité de démarches : 
	<ul> 
		<li> Entre associations membres, ASSOFLEX promeut une démarche d’échanges et de mutualisation des pratiques.</li>
		<li> Entre associations membres et réseaux d’organisations, une véritable démarche de réflexion et de coopération est continuellement initiée par la mise en lien des associations et des projets novateurs.</li>
		<li> Entre ASSOFLEX et les services publics, une démarche d’échanges et de discussions continues pour mener à bien des projets et des valeurs républicaines.</li>
	</ul>
	<p> Au-delà de nos missions plurielles et citoyennes pour le milieu associatif, notre ambition quotidienne est de répondre aux défis actuels de la société et de proposer des solutions innovantes répondant aux besoins des générations actuelles et futures.</p>
</div>

<div id="description-services" style="padding: 7%; font-size:150%; }"> @*background-color:rgba(0,0,255,0);*@
	<h1> Nos Services</h1>
	<p>ASSOFLEX met en oeuvre 3 services pour répondre aux besoins des associations :</p>
	<!--- Présentation des services proposés-->
	<div class="container-fluid py-5">
		<div class="row padding">
			<div class="col-md-6">
				<div class="">
					<img src="~/assets/img/Crowdfunding.jpg" class="" style="object-fit: contain" width=800px height=800px>
				</div>
			</div>
			<div class="col-md-6">
				<div class ="" id="crowfunding"> 
					<h2>Le Crowdfunding</h2>
					<p>Encore appelé « financement participatif », le crowdfunding est un moyen de collecte de fonds alternatif qui ne passe pas par les circuits et outils traditionnels, mais fait appel à des ressources financières auprès des internautes afin de financer un projet de diverses natures (humanitaire, environnementale, sociale, etc.).</p>
					<p>On distingue principalement 3 grandes formes de crowdfunding :</p>
					<ul>	
						<li>Les dons : Le don peut être réalisé avec ou sans contrepartie. En cas de don avec contrepartie, le donateur reçoit une compensation matérielle ou immatérielle à son don.</li>
						<li>Les prêts : La levée de fonds en obligations se concrétise par une émission par l’entreprise d’un emprunt obligataire avec une durée et un taux déterminés.</li>
						Les fonds sont versés à l’association après la phase de collecte sur la plateforme de financement participatif.
						<li>L’investissement : iL permet de financer un projet entrepreneurial. </li>
					</ul>
					<p>Plusieurs étapes sont mises en place pour pouvoir réaliser une véritable campagne de financement participatif :</p>
					<ol>
						<li>	Inscription ou Création d’un compte sur notre plateforme ;</li>
						<li>	Le lancement de la campagne par le remplissage de champs afin de décrire ses besoins et/ou son projet ;</li>
						<li>	La diffusion via divers services (réseau associatif, etc.) et plateformes afin de solliciter de potentiel.le.s donateur.rice.s.</li> 
						<li>	La restitution des sommes perçues selon une période définie.</li>
					</ol>
				</div>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-6"></div>
		</div>
	</div>
	<div class="container-fluid py-5">
		<div class="row padding">		
			<div class="col-md-6"></div>
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<div class="">
					<h2 class="">La Billetterie</h2>
					<p class="">On parle de billetterie, lorsqu’une association organise un spectacle, une manifestation ou un évènement comportant un prix d’entrée. Cet outil permet de simplifier le processus de vente de billets en ligne aussi bien aux organisateurs d’évènements qu’aux différents bénéficiaires qui n’ont plus besoin de se déplacer pour effectuer leurs achats. </p>
					<p>Les personnes souhaitant organiser un évènement doivent l’inscrire en ligne et faire sa promotion. Cette gestion dématérialisée des billets permet entre autres à l’association de suivre chaque étape de l’organisation de l’événement à l’instar de l’inscription des participants, mais aussi de l’encaissement du paiement des billets. </p>
					<p>Par ailleurs, une billetterie en ligne permet également de vendre ses billets plus rapidement, car l’opération se fait à tout moment (pas d’heure d’ouverture ni de fermeture des guichets).</p>
					<p>Opter pour l’utilisation d’une billetterie en ligne est simple et flexible car il est plus facile de diffuser l’événement en ligne, particulièrement sur les réseaux sociaux.</p>
					<p>Un autre avantage de la billetterie en ligne est qu’elle donne la possibilité de connaître les statistiques d’inscription des participants à tout moment.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="">
					<img src="~/assets/img/BILLETTERIE-EN-LIGNE.jpg" style="object-fit: contain" width=800px height=550px>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid py-5">
		<div class="row padding">
			<div class="col-md-6">
				<div class="">
					<img src="~/assets/img/Adhésions.jpeg" style="object-fit: contain" width=800px height=550px>
				</div>
			</div>
			<div class="col-md-6">
				<div class=""> 
					<h2 class="">La Gestion des adhésions</h2>
					<p class=""> Au sein des associations, l’on retrouve une multitude de personnes. Ceci peut aller des bénévoles aux salariés, en passant par des volontaires, etc. Ces associations sont aussi très souvent membres de fédérations, collectifs et regroupements.</p> 
					<p>Et pour pouvoir gérer efficacement ce flux de membres, des associations ont très souvent recours à une base de données. Celle-ci est nécessaire pour pouvoir gérer et suivre au quotidien des membres, des adhérents.</p>
					<p>Le logiciel de gestion des adhésions permet donc à une association de gérer de manière autonome ses membres, ou de permettre à ses membres de s’affilier.</p>
					<p>Les associations bénéficient de la base de données de ASSOFLEX pour pouvoir gérer leurs membres et futurs adhérents. Des formulaires sont mis à disposition.</p>
					<p>Gérer ses membres ou adhérents en ligne donne la possibilité de connaître les statistiques d'adhésion' sur des périodes données des membres, de revoir les stratégies d'adhésion.</p>
				</div>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-6"></div>
		</div>
	</div>
</div>
<!--- Meet the team -->
<div class="container-fluid pt-5">
	<div class="row welcome text-center">
		<div class="col-12">
			<p class="display-4"> L'équipe ASSOFLEX</p>
		</div>
		<hr>
	</div>
</div>
<!--- Cards -->
<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/billal.jpg" class="card-img-top" style="object-fit: contain" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Billal Benziane</h4>
					<p class="card-text">Passionné des sciences et des mathématiques en particulier, Billal est l'un des co-fondateurs et président d'AssoFlex. </p>
					<a href=@Url.Action("VoirCvBillal", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/guytri.png" class="card-img-top" style="object-fit: contain" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Guytri Kastane</h4>
					<p class="card-text">Guytri est l'un des fondateurs de ASSOFLEX. Sa fibre associative le conduit ce jour au poste de Directeur Exécutif.</p>
					<a href=@Url.Action("VoirCvGuytri", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/mateusz.jpg" class="card-img-top" style="object-fit: contain" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Mateusz Tirel</h4>
					<p class="card-text">Ingénieur généraliste et co-fondateur de ASSOFLEX, Mateusz est en charge la Direction des services.</p>
					<a href=@Url.Action("VoirCvMateusz", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/paul.jpg" class="card-img-top" style="object-fit: contain" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Paul Kammegne</h4> 
					<p class="card-text">Membre de plusieurs associations, Paul occupe le poste de Gestionnaire des évènements et des formations.</p>
					<a href=@Url.Action("VoirCvPaul", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
	</div>
	<hr class="my-4">
</div>
