
@{
        Layout = "_Layout";
}

<div id="description-association" style="padding: 7%; font-size:150%; background-color:rgba(0,0,255,0.1);}">

	<p font-size:180%> Qui sommes nous ?</p>
	<p class = "description-assoflex" style="text-indent: 5%;">ASSOFLEX est une plateforme nationale mise sur pied, en 2022, pour accompagner le développement des organisations et des projets qu’elles portent. Le réseau porté par ASSOFLEX est le plus largement ouvert et a vocation à rassembler un grand nombre d’organisations qui laisse une place centrale à l’humain.
		Cette plateforme a été conçue pour fournir aux associations et à leurs adhérents des services leur permettant d’avoir une fluidité dans la transmission des informations. Qu’il s’agit de la gestion de leur adhésion aux associations, de l’achat de billet pour des événements spécifiques ou encore de la participation à des projets portés par ces associations.
		Tous ces services ne sont portés que sur les valeurs que nous partageons avec nos associations collaboratrices, à savoir une prise de conscience importante envers l’écologie, un respect, une lutte contre les discriminations (sexisme, racisme, homophobie et toute autre forme de discrimination) et une prise de conscience envers les difficultés des personnes en situation de handicap.</p>
	En tant que réseau, ASSOFLEX s’inscrit dans une pluralité de démarches : 
	<ul> 
		<li> Entre associations membres, ASSOFLEX promeut une démarche d’échanges et de mutualisation des pratiques.</li>
		<li> Entre associations membres et réseaux d’organisations, une véritable démarche de réflexion et de coopération est continuellement initiée par la mise en lien des associations et des projets novateurs.</li>
		<li>	Entre ASSOFLEX et les services publics, une démarche d’échanges et de discussions continues pour mener à bien des projets et des valeurs républicaines.</li>
	</ul>


	<p> Au-delà de nos missions plurielles et citoyennes pour le milieu associatif, notre ambition quotidienne est de répondre aux défis actuels de la société et de proposer des solutions innovantes répondant aux besoins des générations actuelles et futures.</p>
</div>

<div class="container w-100" style="align-items: center">
	<div class="row w-100 align-items-center">
		<div class="col-3 w-100"></div>
		<div class="col-4" style="align-items: center">
			<iframe src="https://prezi.com/p/6ubf9akh5fsu/embed" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" allow="autoplay;fullscreen" height="315" width="560" align="middle"></iframe>
		</div>
		<div class="col-4 w-100"></div>
	</div>
</div>

<!--- Meet the team -->
<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<p class="display-4"> L'équipe assoFLEX</p>
		</div>
		<hr>
	</div>

</div>

<!--- Cards -->

<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/billal.jpg" class="card-img-top" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Billal Benziane</h4>
					<p class="card-text">Passionné d'automobile et de science, Billal a rejoint l'équipe d'Assoflex.</p>
					<a href=@Url.Action("VoirCvBillal", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/guytri.png" class="card-img-top" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Guytri Kastane</h4>
					<p class="card-text">Guytri est également l'un des fondateurs de ASSOFLEX. Sa fibre associative le conduit ce jour au poste de Directeur Exécutif '.</p>
					<a href=@Url.Action("VoirCvGuytri", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/mateusz.jpg" class="card-img-top" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Mateusz Tirel</h4>
					<p class="card-text">Ingénieur généraliste, Mateusz est l'une des personnes qui a eu l'initiative de mettre sur pied ASSOFLEX. Il est en charge la Direction des services.</p>
					<a href=@Url.Action("VoirCvMateusz", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/assets/img/paul.jpg" class="card-img-top" width=450px height=450px>
				<div class="card-body">
					<h4 class="card-title"> Paul Kammegne</h4> 
					<p class="card-text">Membre de plusieurs associations, Paul occupe le poste de Gestionnaire des évènements et des formations.</p>
					<a href=@Url.Action("VoirCvPaul", "Presentation") class="btn btn-outline-secondary" target="_blank">Voir le CV</a>
				</div>
			</div>
		</div>
		
	</div>
	<hr class="my-4">
</div>
