<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>assoFLEX</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="../style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-white sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="../img/logo.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!--button class="btn btn-outline-light btn-lg">Inscrire mon asso</button-->
		<!--button class="btn btn-outline-light btn-lg">Me connecter</button-->
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a class="nav-link" href="../index.html">Accueil</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#">Présentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Nos services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Nos associations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Équipe</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1" ></li>
		<li data-target="#slides" data-slide-to="2" ></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="../img/billetterie-bpmn.png">
			<div class="carousel-caption">
				<h1 class="display-2">Billetterie</h1>
				<h3>Service de réservation d'évènement en ligne</h3>
			</div>
		</div>
		<div class="carousel-item">
			<img src="../img/crowdfunding-bpmn.png">
		</div>
		<div class="carousel-item">
			<img src="../img/gestionnaire-bpmn.png">
		</div>
	</div>
</div>



<!--- Fixed background -->


<!--- Emoji Section -->







<!--- Two Column Section -->


<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Réseaux sociaux</h2>
		</div>
		<div class="col-12 social padding">
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
	<hr class="my-4">
</div>


<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="img/w3newbie.png">
				<hr class="light">
				<p>+33 (0)7 55 17 23 16</p>
				<p>contact@assoflex.com</p>
				<p>31 rue de l'aurore</p>
				<p>78100, Saint-Germain-en-Laye, France</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Nos horaires</h5>
				<hr class="light">
				<p>Lundi, Mardi : 9h - 17h</p>
				<p>Mercredi,Jeudi : 12h - 17h</p>
				<p>Vendredi : Fermé</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Ville</h5>
				<hr class="light">
				<p>78100, Saint-Germain-en-Laye, France</p>
				<p>75000, Paris, France</p>
				<p>51100 , Reims, France</p>
			</div>
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; assoflex.com</h5>
			</div>
		</div>
	</div>
</footer>



</body>
</html>

