@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br/>
<form>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Entrez votre nom"/>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control" placeholder="Entrez votre email"/>
    </div>
</form>
