@model System.Collections.Generic.List<ServiceBilletterie.Models.Evenements>

@{
    Layout = "../Shared/_LayoutTest";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accueil Billetterie</title>
</head>
<body>
<h1>Bienvenue sur l'espace billetterie</h1>
<br/>
<p>Evènements à venir :</p>
<br/>
<table border="1">
    <tr>
        <th>Date</th>
        <th>Lieu</th>
        <th>Nom de l'évènement</th>
    </tr>
    @foreach (ServiceBilletterie.Models.Evenements evenements in Model)
    {
        <tr>
            <td>@evenements.DateDebutEvent</td>
            <td>@evenements.LieuEvent</td>
            <td>@evenements.NomEvent</td>
        </tr>
    }
</table>

<br/>

<a href=@Url.Action("AchatTicket")>Acheter un billet</a>

<br/>

<a href=@Url.Action("CreerEvent")>Créer un évènement</a>

</body>
</html>