@model AssoFlex.Models.Utilisateur

@{
    ViewBag.Title = "Dashboard Profil";
    Layout = "_LayoutDashboard";
}
<div class="container p-5 my-5 bg-dark text-white text-center">
    <p>Bienvenue @User.Identity.Name</p>
</div>


