@model AssoFlex.Models.ISubWidgetAsso

<div >
    <div>
        <div>
            <strong> @Html.LabelFor(p => p.Nom, @Model.Nom) </strong>
        </div>
    </div>
    <div>
        @{
            int MaxDesc = 50;
            @if (Model.Description.Length > MaxDesc)
            {
                Model.Description = Model.Description.ToString().Substring(0, MaxDesc)+"...";
            }
        }
        @Model.Description
    </div>
</div>
