@model AssoFlex.Models.ISubWidgetEvent



<div > @*class="card-body "*@
    <div>
        <div > s@*tyle="float: left"*@
            @Html.LabelFor(p => p.Description, @Model.Description)
        </div>
    </div>
    <div > @*style="clear: both"*@
        @Model.Prix
        @Model.DateDebutEvent
    </div>
</div>
