@model AssoFlex.Models.Association
@{
    ViewBag.Title = "Association";
    Layout = "_Layout";
}
<style>
.jumbotron {
   background-image: url("@Model.AssoHeaderImage");
   background-size: cover;
}
</style>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Bienvenue sur @Model.Nom</h1>
        <p class="lead"> @Model.Description </p>
    </div>
</div>