@model AssoFlex.Models.Association

@{
    ViewBag.Title = "Association";
    Layout = "_Layout";
}
<div class="container p-5 my-5 bg-dark text-white text-center">
    <h2>Page de l&apos;association @Model.Nom</h2>
    <h5>@Model.Description</h5>
</div>