@using System.Security.Claims
@using System.Globalization
@model AssoFlex.Models.IWidget

@{
     ViewBag.Title = "Widgets";
    Layout = "_Layout";
}
<link href="css/Widget.css" rel="stylesheet"/>


<h2 class="page-section-heading text-center mb-0">Nos Associations</h2> <br/>

<form id="form" class="text-center"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form>

<div class="widget text-center">
    <p>
                @{
            
                    @Html.Partial("Widget/_WidgetContainer");
                }
            </p>
        
</div>


