@using System.Security.Claims
@using System.Globalization
@model AssoFlex.Models.IWidget

@{
     ViewBag.Title = "Widgets";
    Layout = "_Layout";
}



<h2 class="page-section-heading text-center mb-0">Nos Associations</h2> <br/>

<form id="form" class="text-center"> 
  <input type="search" id="query" name="q" placeholder="Search...">
  <button>Search</button>
</form>


<div class="container-fluid padding">
     <div class="row padding">
    
        @{

            @Html.Partial("Widget/_WidgetContainer")
            ;
        }
    </div>

</div>


