@using System.Security.Claims
@model AssoFlex.Models.IWidgetCF
@{
    ViewBag.Title = "Widgets";
    Layout = "_Layout";
}

<h2 class="text-center">PAGE CROWDFUNDING</h2>
<div class="row justify-content-start">

    <div class="container-fluid padding">
         <div class="row padding">
        
            @{
    
                @Html.Partial("Widget/_WidgetContainerCF")
                ;
            }
        </div>
    
    </div>
    
</div>
<div>
                    @if (User.Identity.IsAuthenticated)
                    {
                    
                        <a href=@Url.Action("AchatTicket", "Evenement")>Contribuer à un projet</a>
                    
                        <br/>
                        @if (User.IsInRole("Admin-Asso"))
                        {
                            <a href=@Url.Action("CreateCrowdfunding")>Créer un projet</a>
    
                        }
                    
                    }
                    @if (User.Identity.IsAuthenticated.Equals(false))
                    {
                        <a>Connectez-vous pour accéder à plus de services ! </a>
                    }
</div>
