
<!DOCTYPE html>
<html lang="en">
<head>
	<title>AssoFlex</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<environment include="Development">
            <!-- VENDOR CSS -->
            <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
            <!-- Icons-->
            <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
            <link href="~/lib/coreui/icons/css/coreui-icons.css" rel="stylesheet" />
            <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
            <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
            <link href="~/lib/pace-progress/css/pace.css" rel="stylesheet" />
            <link href="~/lib/dataTables/dist/css/dataTables.bootstrap4.min.css" />
            <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
            <!-- MAIN CSS -->
            <link href="~/lib/coreui/css/style.css" rel="stylesheet" />
    
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
	<environment exclude="Development">
		<!-- VENDOR CSS -->
		<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="~/lib/coreui/icons/css/coreui-icons.min.css" rel="stylesheet" />
		<link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
		<link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
		<link href="~/lib/pace-progress/css/pace.css" rel="stylesheet" />
		<link href="~/lib/dataTables/dist/css/dataTables.bootstrap4.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
		<!-- MAIN CSS -->
		<link href="~/lib/coreui/css/style.min.css" rel="stylesheet" />
    
		<link rel="stylesheet" href="~/css/site.min.css"/>  @*asp-append-version="true" *@
	</environment>
	
	 @RenderSection("Headers", required: false)
</head>

<body class="sidebar-collapse">
<!-- Navigation -->
<partial name="_NavBar"/>
<!-- Main Content -->
<div id="main">
	@RenderBody()
</div>
<!--- Footer -->
<footer>
    
    <div class="container-fluid padding">
        <div class="row text-center">

            <div class="col-md-4">
                @*<img src="~/assets/img/PNL.jpg"> *@
                <hr class="light">
                <p>+33 (0)7 55 17 23 16</p>
                <p>contact@assoflex.com</p>
                <p>31 rue de l'aurore</p>
                <p>78100, Saint-Germain-en-Laye, France</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Nos horaires</h5>
                <hr class="light">
                <p>Lundi, Mardi : 9h - 17h</p>
                <p>Mercredi,Jeudi : 12h - 17h</p>
                <p>Vendredi : Fermé</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Ville</h5>
                <hr class="light">
                <p>78100, Saint-Germain-en-Laye, France</p>
                <p>75000, Paris, France</p>
                <p>51100 , Reims, France</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&COPY; @DateTime.Now.Year - Assoflex.com</h5>
            </div>
        </div>
    </div>
</footer>

<environment include="Development">
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<!-- CoreUI and necessary plugins-->
	<script src="~/lib/pace-progress/js/pace.min.js"></script>
	<script src="~/lib/dataTables/dist/js/jquery.dataTables.min.js"></script>
	<script src="~/lib/dataTables/dist/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/lib/jquery-sdfilterme-master/jquery.sdFilterMe.js"></script>
	@*<script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.js"></script>*@
	<script src="~/lib/coreui/dist/js/coreui.js"></script>
	<!-- Plugins and scripts required by this view-->
	@*<script src="~/lib/chart.js/dist/Chart.js"></script>
	    <script src="~/lib/coreui/js/custom-tooltips.js"></script>
	    <script src="~/lib/coreui/js/main.js"></script>*@

	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>
		$(window).scroll(function() {
			if ($(document).scrollTop() >= 200) {
				$('.navbar').addClass('fixed-top');
			} else {
				$('.navbar').removeClass('fixed-top');
			}
		});
	</script>
</environment>
<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CoreUI and necessary plugins-->
    <script src="~/lib/pace-progress/pace.min.js"></script>
	<script src="~/lib/jquery-sdfilterme-master/jquery.sdFilterMe.js"></script>
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    @*<script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/coreui/js/custom-tooltips.js"></script>
        <script src="~/lib/coreui/js/main.js"></script>*@

<script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("Scripts", required: false) 

</body>
</html>

