@using System.Security.Claims
@model AssoFlex.ViewModels.LayoutModelView
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
    	<a class="navbar-brand" href=@Url.Action("Index", "Home")><img src="~/assets/img/logo.png" alt="logo"></a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    		<span class="navbar-toggler-icon"></span>
    	</button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
				<a class="nav-item nav-link" href=@Url.Action("Index", "Home") style="text-transform:uppercase;">
				    Accueil
			    </a>
			    <a class="nav-item nav-link" href=@Url.Action("Index","Presentation") style="text-transform:uppercase;">
				    Présentation
			    </a>
			    <a class="nav-item nav-link" href=@Url.Action("Index", "Crowdfunding") style="text-transform:uppercase;">
				    Crowdfundings
			    </a>
			    <a class="nav-item nav-link" href=@Url.Action("Index", "Evenement") style="text-transform:uppercase;">
				    Évènements
			    </a>
			    <a class="nav-item nav-link" href=@Url.Action("Index", "Association") style="text-transform:uppercase;">
				    Associations
			    </a>
		</div>
	    <div class="navbar-nav ml-auto">
		    <a class="nav-item nav-link" role="button" href=@Url.Action("Index", "Souscription", new {idUser = User.FindFirstValue(ClaimTypes.NameIdentifier)}) style="text-transform:uppercase; color: #0c63e4;">
			    Inscris Ton Asso
		    </a> @* @Url.Action("CreerAsso", "Association") *@
		    @{
			    if (User.Identity.IsAuthenticated)
			    {
				    <div class="nav-item dropdown">
					    <a class="" data-toggle="dropdown" href="#" role="button" id="profilDropdown" aria-haspopup="true" aria-expanded="False">
						    <img src="~/FileSystem/@User.FindFirstValue("ProfilImage")" alt="userAvatar" class="rounded-circle" width="50px" height="40px" /> 
					    </a>
					    <div class="dropdown-menu dropdown-menu-right mt-13" aria-labelledby="profilDropdown">
						    <div class="dropdown-header text-center">
                                <strong>Bonjour @User.Identity.Name</strong>
                            </div>
						    @if (User.IsInRole("Admin"))
						    {
							    <a class="dropdown-item" href=@Url.Action("DashboardAdmin", "Dashboard")>
								    <i class="fa fa-home"></i> Espace Personnel
							    </a>
						    }
						    else if (User.IsInRole("Admin-Asso"))
						    {
							    <a class="dropdown-item" href=@Url.Action("DashboardUser", "Dashboard", new {id = User.FindFirst(ClaimTypes.NameIdentifier).Value})>
								    <i class="fa fa-home"></i> Espace Personnel
							    </a>
						    }
						    <div class="dropdown-divider"></div>
						    <a class="dropdown-item" href=@Url.Action("Deconnexion", "Login")>
							    <i class="fa fa-lock"></i> Deconnexion
						    </a>
					    </div>
				    </div>
				    <li class="nav-item dropdown d-md-down-none panier" id="panierDropdown">
					    <a class="nav-link" href=@Url.Action("Index","Panier", new {idUser=User.FindFirst(ClaimTypes.NameIdentifier).Value}) role="button">
						    <i class="icon-basket-loaded"></i>
						    <span class="badge badge-pill badge-danger">@Model.GetNombreArticlePanier(User.FindFirst(ClaimTypes.NameIdentifier).Value)</span>
					    </a>
				    </li>
				}
			    else
			    {
				    <div class="dropdown">
					    <a class="nav-item nav-link" href=@Url.Action("Index", "Login") style="color: #157347; font-weight:700;"><b>Se Connecter</b></a>
				    </div>
			    }
		    }
	    </div>
    </div>
</nav>


